body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 10pt;
}

header,
section,
footer {
    width: 560px;
    margin: 0 auto;
}

pre {
    border: 1px solid #CCCCCC;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
}

footer {
    text-align: center;
}
